# Windows system files
AppData/
Contacts/
Cookies/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Local Settings/
Music/
My Documents/
NetHood/
NTUSER.DAT
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
OneDrive/
Pictures/
PrintHood/
Recent/
Saved Games/
Searches/
SendTo/
Start Menu/
Templates/
Videos/

# VS Code files
.vscode
